<div class="x">
	    <div class="bs-component">
          <div id="brand-navbar" class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a id="brand-name" class="navbar-brand" href="javascript:void(0)">苏迪迪汽车团购平台</a>
              </div>
              <div class="navbar-collapse collapse navbar-responsive-collapse">
<!--                 <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control col-md-8" placeholder="Search">
                  </div>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="javascript:void(0)">公司首页</a></li>
                  <li><a href="#">公司介绍</a></li>
                  <li><a href="#">关于团购</a></li>
                  <li><a href="#">团购报名</a></li>
                  <li><a href="#">车友会</a></li>
                  <li><a href="#">站务公告</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
</div>

<div class="x">
	
	<div id="brandCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#brandCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#brandCarousel" data-slide-to="1"></li>
    <li data-target="#brandCarousel" data-slide-to="2"></li>
    <li data-target="#brandCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image('a.jpg', alt: '图片1', id: 'ara', class: 'image') %>
      <!-- <img src="img_chania.jpg" alt="Chania"> -->
    </div>

    <div class="item">
      <%= image('b.jpg', alt:'图片2', id: 'arb', class: 'image') %>
      <!-- <img src="img_chania2.jpg" alt="Chania"> -->
    </div>

    <div class="item">
      <%= image('c.jpg', alt:'图片3', id: 'arc', class: 'image') %>
      <!-- <img src="img_flower.jpg" alt="Flower"> -->
    </div>

    <div class="item">
      <%= image('d.jpg', alt:'图片4', id: 'ard', class: 'image') %>
      <!-- <img src="img_flower2.jpg" alt="Flower"> -->
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#brandCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#brandCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
<div class="area-services background-color-warning color-white">
	<div id="features" class="container">
        <div class="page-header text-center">
          <h3 id="progress-basic">我们的服务</h3>
        <middle>Our Services</middle>
        </div>
        <% feature_rows.each do |feature_row| %>
          <div class="row text-center top-buffer">
            <% feature_row.each do |feature| %>
              <div class="col-lg-4">
                <div class="width-padding">
                  <span class="icon-container color-red-lighten-1">
                    <% if feature[:type] == :icon %>
                      <i class="icon fa <%= feature[:icon_content] %>"></i>
                    <% end %>
                    <% if feature[:type] == :text %>
                      <%= feature[:icon_content] %>
                    <% end %>
                  </span>
                  <h2><%= feature[:title] %></h2>
                  <p><%= feature[:description] %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
</div>
</div>
<div class="area-car-info top-buffer bottom-buffer background-color-success color-white">
  <div class="bs-component container">
    <div class="row">
      <div class="col-md-6">
        <div >
          <%= image('e.jpg', alt: '图片1', id: 'are', class: 'image, width-full') %>
          <!-- <img src="..." alt="..."> -->
          <div class="caption font-size-3 top-buffer">
            <h4>2015年4月别克团购开团通知</h4>
            <p>定于2015年4月19日（周日）组织别克全系团购。本次团购车型包括2015款凯越、昂科拉、英朗XT、全新英朗GT、君威、君越、昂科威车型。报名方式：1、手...</p>
          </div>

          <div class="caption top-buffer margin-bottom">
            <h4>2014年别克团购收官之战定于12月7日开团</h4>
            <p>2014年最后一场别克团购将于12月7日（周日）开团，本次团购主力车型凯越系列、英朗系列、君威系列，昂科拉15款。元旦、春节将至，武汉各4S店都相...</p>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">01</i>
              </div>
              <div class="row-content">
                <!-- <div class="least-content">15m</div> -->
                <h4 class="">2014年9月别克团购完美收官</h4>

                <p class="list-group-item-text">9月份紧抓金九银十的购车良机，切诚公司组织了三期别克团购，9月团购圆满落下帷幕。本月团购以疯狂最底价回馈车友，三期团购订车达到90台的佳绩</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">02</i>
              </div>
              <div class="row-content">
                <!-- <div class="least-content">10m</div> -->
                <h4 class="">10月武汉车展团购报名招募中</h4>

                <p class="list-group-item-text">作为中国中部地区规模最大的武汉国际汽车展览会（简称：武汉车展），今年将于10月16-21日在武汉国际博览中心隆重举行，16日为媒体日暨专业观众日...</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">03</i>
              </div>
              <div class="row-content">
                <!-- <div class="least-content">8m</div> -->
                <h4 class="list-group-item-heading"></h4>

                <p class="list-group-item-text"></p>
              </div>
            </div>
            <div class="list-group-separator"></div>
          </div>
        </div>
        </div>
        </div>
</div>

<div class="contract-us background-color-indigo-darken-3">
  <div class="bs-component color-white container top-buffer bottom-buffer">
    <div class="row">
      <div class="col-md-6">
        <div class="right-buffer">
          <h3>联系我们</h3>
          <p>武汉切诚汽车咨询服务有限公司，营业执照注册号420111000341514。公司经营范围:汽车信息咨询，商务...</p>
          <p><a class="btn btn-raised btn-primary">点击查看详情</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div id="image-well-1" class="well">
            <%= image('f1.jpg', alt: '图片1', id: 'arf1', class: 'image width-full img-rounded margin-bottom') %>
            </div>
          </div>
          <div class="col-md-6">
          <div id="image-well-2" class="well">
            <%= image('f2.jpg', alt: '图片1', id: 'arf2', class: 'image width-full img-rounded margin-bottom') %>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
          <div id="image-well-3" class="well">
            <%= image('f3.jpg', alt: '图片1', id: 'arf3', class: 'image width-full img-rounded margin-bottom') %>
            </div>
          </div>
          <div class="col-md-6">
          <div id="image-well-4" class="well">
            <%= image('f4.jpg', alt: '图片1', id: 'arf4', class: 'image width-full img-rounded margin-bottom') %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>